.course-detail {
  display: flex;
  justify-content: center;
  padding-bottom: 10%;
  &--wrapper {
    width: 60%;
    display: flex;
    flex-direction: column;
    &--cities {
      padding-top: 24px;
      width: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: space-between;
      &--texts {
        width: 33%;
        font-size: 14px;
        padding: 2px 0px;
        font-family: "Open Sans", sans-serif;
        color: #050a16;
        line-height: 1.429;
      }
    }
  }
}

@include respond-between(xlg, xxlg) {
  .course-detail {
    &--wrapper {
      width: 70%;
    }
  }
}

@include respond-between(lg, xlg) {
  .course-detail {
    &--wrapper {
      width: 75%;
    }
  }
}

@include respond-between(md, lg) {
  .course-detail {
    &--wrapper {
      width: 85%;
    }
  }
}

@include respond-between(sm, md) {
  .course-detail {
    padding-bottom: 15%;
    &--wrapper {
      width: 85%;
    }
  }
}

@include respond-between(xs, sm) {
  .course-detail {
    padding-left: 5%;
    padding-bottom: 15%;
    &--wrapper {
      width: 100%;
    }
  }
}

@include respond-between(xxs, xs) {
  .course-detail {
    padding-left: 5%;
    &--wrapper {
      width: 100%;
      padding-bottom: 36px;
    }
  }
}
