.course-landing {
  width: 100%;
  height: 85vh;
  display: flex;
  align-items: center;
  background-color: rgb(5, 10, 22);
  flex-direction: column;
  background-image: url("/assets/world-flags.png");
  z-index: 5;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: 12rem;
  &--background {
    position: absolute;
    left: 10%;
    background-image: url("/assets/background.png");
    height: 90%;
    opacity: 0.14;
    width: 90%;
    background-repeat: no-repeat;
  }
  &--title {
    padding-bottom: 0.3%;
    &::before {
      content: "We have more than";
      display: block;
      font-size: 36px;
      font-family: "Bebas Neue";
      color: rgb(120, 188, 65);
      text-align: center;
      color: rgb(255, 255, 255);
    }
    &::after {
      content: "24.000";
      font-size: 72px;
      font-family: "Bebas Neue";
      color: rgb(120, 188, 65);
      line-height: 1;
      display: flex;
      justify-content: center;
    }
  }
  &--pseudo {
    display: flex;
  }
  &--courses {
    border-radius: 10px;
    background-color: rgb(51, 156, 0);
    width: 108px;
    height: 32px;
    font-size: 36px;
    line-height: 1.05;
    font-family: "Bebas Neue";
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 1px;
    margin-right: 8px;
  }
  &--worldwide {
    line-height: 1.05;
    font-size: 36px;
    font-family: "Bebas Neue";
    align-items: center;
    color: rgb(255, 255, 255);
  }
}

@include respond-between(xlg, xxlg) {
  .course-landing {
    background-size: 100rem;
    background-position-y: 15rem;
    &--title {
      padding-top: 4%;
    }
    &--background {
      left: -10%;
    }
  }
}

@include respond-between(lg, xlg) {
  .course-landing {
    background-size: 60rem;
    background-position-y: 10rem;
    &--title {
      padding-top: 4%;
    }
    &--background {
      left: -10%;
    }
  }
}

@include respond-between(md, lg) {
  .course-landing {
    background-size: 60rem;
    background-position-y: 20rem;
    &--title {
      padding-top: 7%;
    }
    &--background {
      left: -10%;
    }
  }
}

@include respond-between(sm, lg) {
  .course-landing {
    background-size: 70rem;
    background-position-y: 17rem;
    &--title {
      padding-top: 10%;
    }
    &--background {
      left: -30%;
      background-size: cover;
    }
  }
}

@include respond-between(xs, sm) {
  .course-landing {
    background-size: 60rem;
    background-position-y: 12rem;
    &--title {
      padding-top: 5%;
    }
    &--background {
      background-size: 60rem;
      left: -40%;
    }
  }
}

@include respond-between(xxs, xs) {
  .course-landing {
    background-size: 50rem;
    background-position-y: 14rem;
    &--title {
      padding-top: 10%;
    }
    &--background {
      background-size: 60rem;
      left: -40%;
    }
  }
}
