.course-list {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  &--lists {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    border-top: 1px solid rgb(229, 229, 229);
    &--wrapper {
      width: 60%;
      height: 100%;
      display: flex;
      flex-direction: row;
      &--title {
        width: 100%;
        height: 5%;
        font-size: 32px;
        font-family: "Bebas Neue";
        color: rgb(0, 0, 0);
        line-height: 1.235;
        text-align: left;
        padding-top: 24px;
        padding-bottom: 24px;
      }
      &--browse {
        height: 100%;
        width: 30%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        padding-right: 20%;
        &--texts {
          height: 70%;
          width: 100%;
          display: flex;
          flex-direction: column;
          flex-wrap: wrap;
        }
      }
      &--international {
        height: 100%;
        width: 50%;
        display: flex;
        flex-direction: column;
        &--texts {
          height: 70%;
          width: 100%;
          display: flex;
          flex-direction: column;
          flex-wrap: wrap;
        }
      }
    }
  }
}

@include respond-between(xlg, xxlg) {
  .course-list {
    &--lists {
      &--wrapper {
        width: 70%;
      }
    }
  }
}

@include respond-between(lg, xlg) {
  .course-list {
    &--lists {
      &--wrapper {
        width: 75%;
      }
    }
  }
}

@include respond-between(md, lg) {
  .course-list {
    &--lists {
      &--wrapper {
        width: 85%;
      }
    }
  }
}

@include respond-between(sm, md) {
  .course-list {
    &--lists {
      &--wrapper {
        width: 85%;
        &--browse {
          width: 40%;
          padding-right: 10%;
        }
      }
    }
  }
}

@include respond-between(xs, sm) {
  .course-list {
    height: 100vh;
    &--lists {
      &--wrapper {
        width: 95%;
        &--title {
          font-size: 28px;
        }
        &--browse {
          width: 40%;
          padding-right: 10%;
          &--texts {
            height: 80%;
          }
        }
        &--international {
          &--texts {
            height: 80%;
          }
        }
      }
    }
  }
  .lists {
    font-size: 14spx;
  }
}
