.course-search {
  height: 20vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  &--wrapper {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    &--header {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: row;
      &--box {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        &--title {
          font-size: 32px;
          font-family: "Bebas Neue";
          color: rgb(0, 0, 0);
          line-height: 1.235;
          text-align: left;
          padding-bottom: 1%;
        }
        &--select {
          padding-left: 1px;
          width: 90%;
          font-size: 16px;
          font-family: "OpenSans", sans-serif;
          color: rgba(0, 0, 0, 0.502);
          font-weight: 400;
          transition: 0.1s ease-in-out;
        }
      }
    }
  }
}

.lists {
  font-size: 14px;
  font-family: "OpenSans", sans-serif;
  color: rgb(0, 0, 0);
  line-height: 1.855;
  text-align: left;
}

@include respond-between(xlg, xxlg) {
  .course-search {
    &--wrapper {
      width: 70%;
    }
  }
}

@include respond-between(lg, xlg) {
  .course-search {
    &--wrapper {
      width: 75%;
    }
  }
}