.footer {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  &--sub {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;
    background-image: url("/assets/subscribe.png");
    background-repeat: no-repeat;
    background-size: cover;
    &--hand-phone {
      position: absolute;
      right: 0;
    }
    &--wrapper {
      width: 60%;
      height: 100%;
      display: flex;
      justify-content: center;
      flex-direction: column;
      &--title {
        font-size: 32px;
        font-family: "Bebas Neue";
        color: rgb(255, 255, 255);
        line-height: 1.429;
        text-transform: uppercase;
      }
      &--title::after {
        content: " our newsletter";
        color: #78bc41;
      }
      &--desc {
        width: 36%;
        font-size: 14px;
        font-weight: 500;
        font-family: "OpenSans", sans-serif;
        color: rgba(255, 255, 255, 0.8);
        line-height: 1.429;
        text-align: left;
        padding-bottom: 12px;
      }
      &--row {
        display: flex;
        align-items: center;
        &--input {
          font-size: 18px;
          font-weight: 400;
          text-indent: 12px;
          font-family: "OpenSans", sans-serif;
          text-align: left;
          border-width: 2px;
          background-color: transparent;
          color: rgba(255, 255, 255, 0.79);
          border-color: rgba(255, 255, 255, 0.302);
          border-style: solid;
          border-radius: 10px;
          width: 400px;
          height: 30px;
          outline: none;
        }
        &--button {
          margin-left: 12px;
          font-size: 24px;
          font-family: "Bebas Neue";
          color: rgb(245, 246, 254);
          line-height: 1.63;
          text-align: center;
          border-radius: 10px;
          text-transform: uppercase;
          background-color: rgb(120, 188, 65);
          width: 146px;
          height: 36px;
        }
      }
    }
  }
  &--download {
    border-bottom: 1px solid rgb(229, 229, 229);
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &--logo {
      img {
        height: 7rem;
        padding-bottom: 12px;
      }
    }
    &--title {
      font-size: 46px;
      font-family: "Bebas Neue";
      color: rgb(5, 10, 22);
      line-height: 1.087;
      text-align: center;
    }
    &--desc {
      font-size: 18px;
      padding-top: 8px;
      font-family: "OpenSans", sans-serif;
      color: rgb(5, 10, 22);
      line-height: 1.778;
      text-align: center;
    }
    &--stores {
      img {
        width: 10rem;
        padding-top: 12px;
        padding-right: 6px;
      }
    }
  }
  &--extra {
    border-bottom: 1px solid rgb(229, 229, 229);
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    &--title {
      font-size: 24px;
      font-family: "Bebas Neue";
      color: rgb(5, 10, 22);
      line-height: 2.083;
      text-align: left;
      padding-bottom: 24px;
    }
    &--desc {
      list-style: none;
      font-size: 14px;
      font-family: "OpenSans", sans-serif;
      color: rgb(5, 10, 22);
      line-height: 2.143;
      text-align: left;
    }
    &--wrapper {
      width: 60%;
      height: 100%;
      display: flex;
      align-items: center;
      flex-direction: row;
      &--column {
        width: 30%;
        display: flex;
        justify-content: flex-end;
      }
      &--logos {
        width: 40%;
        display: flex;
        flex-direction: column;
        &--nrange {
          padding-bottom: 12px;
        }
        &--social {
          padding-left: 8px;
          padding-bottom: 24px;
        }
      }
    }
  }
  &--all-rights {
    width: 60%;
    height: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    &--terms {
      display: block;
    }
    &--desc {
      height: 100%;
      display: flex;
      align-items: center;
      width: 55%;
      font-size: 12px;
      font-family: "OpenSans", sans-serif;
      color: rgb(5, 10, 22);
      text-align: left;
    }
    &--logos {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      line-height: 0;
      width: 50%;
      img {
        width: 104px;
      }
    }
  }
  li {
    list-style: none;
  }
}
