.header {
  width: 100%;
  background-color: rgb(5, 10, 22);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  &--nav {
    width: 60%;
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 16px;
    &--logo {
      width: 15%;
      img {
        height: 3rem;
      }
    }
    &--input {
      width: 45%;
      display: flex;
      align-items: center;
    }
    &--search {
      font-size: 24px;
      font-family: "Bebas Neue";
      text-transform: uppercase;
      color: rgba(255, 255, 255, 0.502);
      line-height: 0.833;
      border-width: 2px;
      border-color: rgb(0, 0, 0);
      border-style: solid;
      border-radius: 20px;
      //   background-color: rgb(255, 255, 255);
      opacity: 0.2;
      width: 418px;
      height: 38px;
      z-index: 1;
      outline: none;
    }

    &--buttons {
      width: 40%;
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }
  }

  ul {
    display: flex;
    flex-direction: row;
  }

  li {
    list-style: none;
    padding-left: 50px;
  }
  &--buttons {
    text-transform: uppercase;
    text-decoration: none;
    line-height: 0.833;
    font-size: 24px;
    font-family: "Bebas Neue";
    color: rgb(255, 255, 255);
    line-height: 0.833;
    text-align: center;
    z-index: 1;
  }
}
