.header {
  width: 100%;
  background-color: rgb(5, 10, 22);
  display: flex;
  position: fixed;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  &--nav {
    width: 60%;
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 16px;
    &--logo {
      width: 20%;
      img {
        height: 3rem;
      }
    }
    &--input {
      width: 40%;
      display: flex;
      align-items: center;
      &--icon {
        font-size: 18px;
        font-family: "OpenSans", sans-serif;
        color: rgba(255, 255, 255, 0.78);
        text-indent: 16px;
        background-color: rgba(255, 255, 255, 0.2);
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        width: 10%;
        height: 32px;
        padding: 1px;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 2;
        cursor: pointer;
      }
      &--icon:hover {
        opacity: 0.8;
      }
      &--search {
        font-size: 18px;
        font-family: "OpenSans", sans-serif;
        color: rgba(255, 255, 255, 0.78);
        text-indent: 16px;
        border: none;
        background-color: rgba(255, 255, 255, 0.2);
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        width: 90%;
        height: 32px;
        z-index: 1;
        outline: 0;
      }
      &--search::placeholder {
        font-family: "Bebas Neue";
        color: rgba(255, 255, 255, 0.3);
        font-size: 20px;
      }
    }
    &--buttons {
      width: 40%;
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }
  }
  .hamburger {
    display: none;
    cursor: pointer;
    position: absolute;
    right: 2em;
  }

  .change {
    display: block;
    z-index: 100;
    position: absolute;
    right: 2em;
  }

  .stick,
  .stick1 {
    width: 36px;
    height: 2px;
    background-color: white;
    margin: 12px 0;
    transition: 0.4s;
  }

  .change .stick {
    transform: rotate(-45deg) translate(-4px, 6px);
  }

  .change .stick1 {
    transform: rotate(45deg) translate(-3px, -6px);
  }

  ul {
    display: flex;
    flex-direction: row;
  }

  li {
    list-style: none;
    padding-left: 50px;
  }
  &--buttons {
    z-index: 10;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 20px;
    font-family: "Bebas Neue";
    color: rgb(255, 255, 255);
    text-align: center;
    z-index: 1;
    padding: 5px 20px 3px 20px;
    border-radius: 10px;
    transition: 0.1s ease-in-out;
    outline: none;
  }
  &--buttons:hover {
    background-color: rgb(120, 188, 65);
    color: rgb(30, 35, 46);
    transition: 0.1s ease-in-out;
  }
  &--buttons:focus,
  &--buttons:active {
    background-color: rgb(120, 188, 65);
    color: rgb(30, 35, 46);
    transition: 0.1s ease-in-out;
  }
}

@include respond-between(xlg, xxlg) {
  .header {
    &--nav {
      width: 70%;
      &--search {
        width: 364px;
      }
    }
  }
}

@include respond-between(lg, xlg) {
  .header {
    &--nav {
      width: 75%;
    }
    li {
      padding-left: 36px;
    }
  }
}

@include respond-between(md, lg) {
  .header {
    &--nav {
      width: 85%;
    }
    li {
      padding-left: 24px;
    }
  }
}

@include respond-between(sm, md) {
  .header {
    &--nav {
      width: 85%;
      &--logo {
        img {
          height: 2.5rem;
          padding-right: 8px;
        }
      }
    }
    li {
      padding-left: 0px;
    }
  }
}

@include respond-between(xs, sm) {
  .header {
    &--nav {
      width: 100%;
      padding: 16px 0px 16px 0px;
      &--logo {
        padding-left: 5%;
        img {
          height: 2.5rem;
        }
      }
      &--input {
        display: none;
      }
    }
    ul {
      display: none;
    }
  }
}

@include respond-between(xxs, xs) {
  .header {
    &--nav {
      width: 100%;
      padding: 16px 0px 16px 0px;
      &--logo {
        padding-left: 5%;
        img {
          height: 2.5rem;
        }
      }
      &--input {
        display: none;
      }
    }
    ul {
      display: none;
    }
    &--buttons {
      width: 40%;
      display: none;
      justify-content: flex-end;
      align-items: center;
    }
  }
  .hamburger {
    display: inline-block !important;
  }
}
