.header {
  width: 100%;
  background-color: rgb(5, 10, 22);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  z-index: 2;
  &--nav {
    width: 60%;
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 16px;
    &--logo {
      width: 15%;
      img {
        height: 3rem;
      }
    }
    &--input {
      width: 45%;
      display: flex;
      align-items: center;
    }
    &--search {
      font-size: 18px;
      font-family: "OpenSans", sans-serif;
      color: rgba(255, 255, 255, 0.78);
      text-indent: 16px;
      border: 2px solid rgb(0, 0, 0);
      background-color: rgba(255, 255, 255, 0.2);
      border-radius: 20px;
      width: 368px;
      height: 32px;
      z-index: 1;
      outline: 0;
    }
    &--search::placeholder {
      font-family: "Bebas Neue";
      color: rgba(255, 255, 255, 0.3);
      font-size: 20px;
    }
    &--buttons {
      width: 40%;
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }
  }

  ul {
    display: flex;
    flex-direction: row;
  }

  li {
    list-style: none;
    padding-left: 50px;
  }
  &--buttons {
    text-transform: uppercase;
    text-decoration: none;
    line-height: 0.833;
    font-size: 20px;
    font-family: "Bebas Neue";
    color: rgb(255, 255, 255);
    line-height: 1.2;
    text-align: center;
    z-index: 1;
    padding: 2px 16px 1px 16px;
    border-radius: 10px;
    transition: 0.1s ease-in-out;
    outline: none;
  }
  &--buttons:hover {
    background-color: rgb(120, 188, 65);
    color: rgb(30, 35, 46);
    transition: 0.1s ease-in-out;
  }
  &--buttons:focus,
  &--buttons:active {
    background-color: rgb(120, 188, 65);
    color: rgb(30, 35, 46);
    transition: 0.2s ease-in-out;
  }
}
