.info {
  width: 100%;
  background-color: rgb(30, 35, 46);
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  &--wrapper {
    width: 60%;
    display: flex;
    height: 100%;
    align-items: center;
    &--envelope {
      color: white;
    }
    &--email {
      width: 60%;
      font-size: 14px;
      font-family: "OpenSans", sans-serif;
      color: rgb(255, 255, 255);
      font-weight: 400;
      line-height: 1.429;
      z-index: 1.6;
      text-decoration: none;
    }
    &--email:hover {
      opacity: 0.75;
    }
  }
}

@include respond-between(xlg, xxlg) {
  .info {
    &--wrapper {
      width: 70%;
    }
  }
}

@include respond-between(lg, xlg) {
  .info {
    &--wrapper {
      width: 75%;
    }
  }
}