.landing {
  width: 100%;
  height: 89vh;
  background-color: rgb(5, 10, 22);
  display: flex;
  background-repeat: no-repeat;
  background-position: center;
  justify-content: center;
  align-items: center;
  &--background {
    position: absolute;
    left: 10%;
    background-image: url("/assets/background.png");
    height: 90%;
    opacity: 0.14;
    width: 90%;
    background-repeat: no-repeat;
  }
  &--text-wrapper {
    width: 30%;
    height: 100%;
    display: flex;
    z-index: 1;
    justify-content: center;
    flex-direction: column;
    &--welcome {
      font-size: 28px;
      padding-bottom: 8px;
      font-family: "Bebas Neue";
      color: rgba(255, 255, 255, 0.9);
      line-height: 1.479;
      text-align: left;
    }
    &--title {
      width: 100%;
      font-size: 96px;
      padding-bottom: 12px;
      font-family: "Bebas Neue";
      color: rgb(255, 255, 255);
      line-height: 0.844;
      text-align: left;
    }
    &--title::after {
      content: " RANGEFINDER";
      color: rgb(118, 189, 74);
    }
    &--stores {
      display: flex;
      flex-direction: row;
      img {
        width: 154px;
        padding-top: 12px;
        padding-right: 12px;
      }
    }
  }
  &--phones {
    position: relative;
    width: 30%;
    height: 100%;
    z-index: 1;
    display: flex;
    &--iphone {
      position: absolute;
      top: 7%;
    }
    &--samsung {
      position: absolute;
      left: 40%;
      top: 15%;
    }
  }
}
