.terms {
  font-family: "OpenSans", sans-serif;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &--title {
    padding-top: 1%;
    font-size: 36px;
    font-family: "OpenSans", sans-serif;
  }
  &--wrapper {
    padding-bottom: 10%;
    height: 100%;
    width: 60%;
    display: flex;
    flex-direction: column;
    &--title {
      font-size: 24px;
      font-family: "OpenSans", sans-serif;
    }
    &--title::before {
      content: "n";
      font-family: "OpenSans", sans-serif;
      color: #ff6209;
    }
  }
  ul li {
    list-style-type: disc;
    font-size: 16px;
    font-family: "OpenSans", sans-serif;
    font-weight: 400;
  }
  .list-title {
    font-size: 18px;
    font-weight: 400;
    font-family: "OpenSans", sans-serif;
  }
  .list-title-under {
    padding-bottom: 4px;
    text-decoration: underline;
    font-size: 18px;
    font-weight: 400;
    font-family: "OpenSans", sans-serif;
  }
}

@include respond-between(xlg, xxlg) {
  .terms {
    &--wrapper {
      width: 70%;
    }
  }
}

@include respond-between(lg, xlg) {
  .terms {
    &--wrapper {
      width: 75%;
    }
  }
}

@include respond-between(md, lg) {
  .terms {
    &--wrapper {
      width: 85%;
    }
  }
}

@include respond-between(sm, md) {
  .terms {
    &--wrapper {
      width: 85%;
    }
  }
}

@include respond-between(xs, sm) {
  .terms {
    &--wrapper {
      width: 95%;
      padding-bottom: 5%;
    }
  }
}

@include respond-between(xxs, xs) {
  .terms {
    &--wrapper {
      width: 95%;
      padding-bottom: 5%s;
    }
  }
}