.terms {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &--title {
    font-size: 36px;
    font-family: "OpenSans", sans-serif;
  }
  &--wrapper {
    height: 100%;
    width: 60%;
    display: flex;
    flex-direction: column;
    // background: rgb(10, 205, 132);
    // background: linear-gradient(
    //   90deg,
    //   top to bottom
    //   rgba(10, 205, 132, 1) 0%,
    //   rgba(94, 215, 170, 1) 49%,
    //   rgba(236, 236, 236, 1) 100%
    // );
    &--title {
      font-size: 24px;
      font-family: "OpenSans", sans-serif;
    }
    &--title::before {
      content: "n";
      font-family: "OpenSans", sans-serif;
      color: #ff6209;
    }
  }
}
