@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap");

.h1 {
  font-size: 40px;
  font-family: "BebasNeue";
  color: rgb(5, 10, 22);
  line-height: 1.25;
  text-align: center;
  z-index: 1;
}

.p {
  font-size: 14px;
  font-family: "OpenSans";
  color: rgb(117, 117, 117);
  line-height: 1.429;
  text-align: center;
  z-index: 1;
}
