body {
    margin: 0 !important;
    user-select: none;
    outline: none;
}

.fontawe {
  padding-top: 24px;
  padding-right: 24px;
  background-color: white;
}
.search {
    color: rgba(255, 255, 255, 0.3);
    margin-left: -8%;
}